@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');



:root {
    --primary-color: #1F2937;
    --black: #333333;
    --width-break: 600px;
}

body {
    margin: 0px;
    font-family: 'Dancing Script', cursive;
    color: #333333;
}

nav {
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: larger;
}

#navigation {
    font-style: italic;

}

#heading {
    font-style: italic;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    width: 90%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 90%;
    margin: 1rem;
    padding: 1 rem;
    overflow: scroll;
    min-height: 10vh;
    max-height: 20vh;
    border: 1px solid var(--black);

}

button {
    background-color: var(--primary-color);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: 'Dancing Script', cursive;
    font-size: large;
    font: white;
}
#btn-translate {
    color: white;
    
}
footer {
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
}

footer p {
    max-width: var(--width-break);
    margin: auto;
    font-style: italic;
    font-size: large f
}

.footer-header {
    font-style: oblique;

}